body{
   padding: 20px 20px;
   background: lightgray;
  }
  
  .keyboard-wrapper{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
.keyboard-textarea{
    width: 725px;
    height: 200px;
    background: white;
    border: 3px solid black;
    padding: 5px;
    border-radius:10px;
    margin-bottom: 20px;
}



.keyboard-container{
    width: 725px;
    height: 250px;
    background: rgba($color: #93f3a1, $alpha: 1.0);
    border: 3px solid rgba($color: #031f07, $alpha: 1.0);
    padding: 5px;
    border-radius:10px;
    box-shadow: 10px 5px 5px rgba($color: #222d24, $alpha: 1.0);
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.keyboard-key{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: grey;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 2px 2px rgba($color: #222d24, $alpha: 1.0);
    align-items: center;
    justify-content: center;
    vertical-align: top;
    &:hover{
    color:  #93f3a1;
    box-shadow: 5px 2px 2px rgba($color: white, $alpha: 1.0);
    cursor: pointer;
    }
}

//.keyboard-key-one{
   // flex-grow: 0;  
//}



.keyboard-key-two{
    width: 84px;
   // flex-grow: 2;
}

.keyboard-key-seven{
    width: 304px;
   // flex-grow: 7;
}


 .keyboard-key-active{
    color: grey;
    background: white;
    box-shadow: 5px 2px 2px rgba($color: rgb(197, 238, 11), $alpha: 1.0);
 }

 .keyboard-key-light{
     ::after{
     position: absolute;
     content: '';
     top: 2px;
     right: 2px;
     width: 5px; 
     height: 5px; 
     border-radius: 50%;
     background: white;
 }
}